<section class="">
  <div class="hero-body">
    <div class="container">
      <h1 class="title_one">
         --- today's news post ---
      </h1>
    </div>
  </div>
</section>

<% if @recipe.errors.any? %>
  <div class="notification is-danger">
    <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this object from bring save: not successfully</h2>
    <ul>
      <% @recipe.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= form_for @recipe do |f| %>
          <div class="field">
            <%= f.label :title, "TITLE", class:"label" %>
            <%= f.text_field :title, class: "input" %>
          </div>
      
          <div class="field">
            <%= f.label :body, "post-content(内容)", class:"label" %>
            <%= f.text_area :body, class: "textarea" %>
          </div>

          <div class="field">
            <%= f.label :image, "PHOTO", class:"label" %>
            <%= f.attachment_field :image, class: "input" %>
          </div>

          <%= f.submit "投稿", class: "button is-success"%>
        <% end %>
      </div>       
    </div>
  </div>
  <div class="wilderness_img">
    <%= image_tag '荒野行動.jpg' %>
  </div>
</section>    