<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title_one">
         --- Details ---
      </h1>
    </div>
  </div>
</section>

<section class="section">
      <div class="intro_by_name">
        <article class="panel is-link">
          <div class="panel-heading by_name">
            <%= @recipe.user.username %>さんの詳細
          </div>
          <div class="panel-block">
            <p class="comment">
              <%= @recipe.user.profile %>
            </p>
          </div>
          <%= link_to user_path(@recipe.user), class: "panel-block" do %>
            <span class="panel-icon">
              <i class="fas fa-user" aria-hidden="true"></i>
            </span>
            <p class="to_page"><%= @recipe.user.username %> さんのページへ</p>
          <% end %>
        </article>
      </div>

      <div class="details_content">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <%= attachment_image_tag @recipe, :image %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="prof_title"><%= @recipe.title %></p>
              </div>
            </div>
            <div class="content">
              <table class="table">
                <tr>
                  <th class="news">News</th>
                </tr>
                <tr>
                  <td class="news_content"><%= simple_format @recipe.body %></td>
                </tr>
              </table>
              <div class="edit-button">
                <% if @recipe.user.id == current_user.id %>
                  <%= link_to "編集画面へ", edit_recipe_path(@recipe), class: "button is-white-50" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>