<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title_one">
         --- Member catalog ---
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <% @users.each do |user|%>
       <div class="column">
         <div class="card">
           <div class="card-content">
             <div class="card-image">
              <figure class="image is-4by3"> 
               <%= link_to user_path(user) do %>
                <%= attachment_image_tag user, :profile_image, size: "100*100", fallback: "no-image.png", class: "catalog_img"%>
               <% end %>
              </figure>
             </div>
           </div>
           <div class="card-content">
            <div class="media">
               <div class="">
                 <div class="title"><%= link_to user.username, user_path(user)  %></div>
               </div>
               <div class="content">
                <p class="post">投稿数：<%= user.recipes.count %> 
               </div>
            </div>
          </div>
         </div>
       </div>
      <% end %>
    </div>
  </div>
  <div class="">
    <%= image_tag "" %>
</section>
  

  


                              
