<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title_one">
      --- My page ---
      </h1>
    </div>
  </div>
</section>

<section class="section"> 
    <div class="profile">  
      <div class="card-image">
        <figure class="top_image" style="margin-left: auto; margin-right: auto;"> 
          <%= attachment_image_tag @user, :profile_image, :fill, 1000,1000,fallback: "no-image.png", class: "profile_image is-rounded" %>
        </figure>
      </div>

      <div class="profile_edit">
        <div class="profs">
          <p class="name"><%= @user.username %></p>
          <br>
          <% if @user.id == current_user.id %><% end %>
          <br>
          <p class="self_intro">Profile</p>
          <br>
          <div class="comment">
            <%= @user.profile %>
          </div>
        </div>
      </div>  
      <div class="edit">
          <p class="email"><%= @user.email%></p>
          <p class="henshu"><%= link_to "プロフィール編集", edit_user_path(@user), class: "button" %></p>
      </div>
    </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @user.recipes.each do |recipe| %>
        <div class="my_contents">
          <div class="card">
            <div class="card-image">
              <figure class="iamge is-4by3">
                <%= link_to recipe_path(recipe) do %>
                  <%= attachment_image_tag recipe, :image, fallback:"no-image.png" %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  
                  <%= link_to recipe_path(recipe), class: "panel-block" do %>
                    <%#<span class="panel-icon"><i class="fas fa-book"></i></span>%>
                    <p class="my_title"><%= recipe.title %></p>
                    
                  <% end %>
                  <% if @user.id == current_user.id %>
                    <%= link_to edit_recipe_path(recipe), class: "panel-block" do %>
                      <span class="panel-icon">
                      <i class="fas fa-edit"></i>
                      </span>
                    <p class="henshu_button">この内容を編集する</p>
                    <% end %>
                    <%= link_to recipe_path(recipe), method: :delete, data: {confirm: "削除しますか"}, class:"panel-block" do %>
                      <span class="panel-icon">
                        <i class="fas fa-trash"></i>
                      </span>
                      <p class="delete_button">この内容を削除する</p>
                    <% end %>
                  <% end %>  
                </div>
              </div>
              <div class="content">
                <div class="times"><time><%= recipe.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新</div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

              

