
<div class="home index">
  <article class="home_page">
    
    <div class="contents">    
        <div class="fade_img">
          <div class="fade"><%= image_tag  "パラシュート.jpg" %></div>
          <div class="fade"><%= image_tag  "荒野行動.jpg" %></div>
          <div class="fade"><%= image_tag  "荒野second.jpg" %></div>
        </div>
        <div class="front_font">
          <p class="home_title_one">
              Official<span class="man"> Mister </span>clan   
          </p>  
          <%
=begin%>
 <div class="home_button">
            <div class="button_login_one ">
              <%= link_to "ログイン", new_user_session_path, class: "button" %>    
            </div>
            <div class="button_login_two"> 
              <%= link_to "新規登録", new_user_registration_path, class: "button" %>    
            </div>
          </div> 
<%
=end%>
        </div>
    </div>   
  </article>
  <article class="intro">
    <h1 class="h1_explanation">
      What's This Clan
    </h1>   
    <div class="intro_img">
      
    </div>
    <p class="intro_font">
        年齢問わず様々なキャラクターを持ったメンバーたち <br><br>
        メンバーに共通する部分は荒野行動が好きであること！ <br><br>
        クランのイメージダウンになるので煽りや死体打ちは禁止 <br><br>
        平和にわいわい楽しみたい方、是非ご参加ください！
    </p>
  </article>

  <article class="intro_2">
    <div class="intro_img_2">
    </div>
    <h2 class="intro_font_2">
        Activity
    </h2>
    <div class="intro_sentences_2">
       <p class="mascot">
          メンバーの行動時間は23時から2時です<br><br>
          不定期でクラン内戦を開催しています<br><br>
          内戦では戦績に応じて報酬がもらえます<br><br>
          また対外試合も月１回ほど行っており、自分の実力が試せる良い機会になりますよ！
       </p>
    </div>
  </article>

  <article class="intro_3">
    <div class="intro_img_3">
    </div>
    <h3 class="intro_font_3">
        マスコットキャラクター
    </h3>
    <div class="intro_sentences_3">
       <p class="mascot">
         こちらがクランのマスコットキャラクターです<br><br>
         ただしマスコットキャラクターのわりにメンバーからの扱いは雑です
       </p>
    </div>
  </article>
</div>


<script type="text/javascript">
  $(function(){
    $(".fade_img .fade:not(:first-child)").hide();
    setInterval(function() {
      $(".fade_img .fade:first-child").fadeOut("3500").next(".fade").fadeIn("3500").end().appendTo(".fade_img");
    },7000);
  })
</script>
